* {
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  width: 100vw;
  height: 220px;
  .snsicon {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0 0 20px;
    display: flex;
    i {
      width: 34px;
      text-align: center;
      font-size: 25px;
      color: gray;
    }
  }
  .h-main{
    width: 100%;
    margin: 0 auto;
    .user {
      text-align: right;
      padding: 10px 30px 0 0;
      .mypage-name {
        margin-right: 10px;
        display: inline-block;
        font-size: 13px;
        font-weight: 600;
        color: gray;
        text-decoration-line: none;
        .far.fa-user {
          color: gray;
          font-size: 15px;
        }
      }
      .post{
        margin-right: 10px;
        display: inline-block;
        font-size: 13px;
        font-weight: 600;
        color: gray;
        text-decoration-line: none;
      }
    }
  }
  .log-wrapper {
    padding-top: 16px;
    text-align: center;
    font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
    .main-log {
      font-size: 40px;
      color: rgb(110, 107, 107);
    }
    .sub-log {
      font-size: 12px;
      color: rgb(83, 79, 79);
    }
  }
  .seach-wrapper {
    background-color: #444;
    width: 300px;
    margin: 50px 20px 20px auto;
    height: 40px;
    border-radius: 23px;
    position: relative;
    i {
      font-size: 20px;
      color: white;
      position: absolute;
      top:10px;
      left: 20px;
    }
    .search-box {
      display: inline-block;
      vertical-align: super;
      position: absolute;
      top: 5px;
      left: 70px;
    }
  }
}

.content {
  width: 100vw;
  height: 100%;
  background-color: rgb(235, 230, 230);
  overflow: scroll;
  position: relative;
  .content-left{
    width: 1000px;
    margin-right: 10px;
    margin-top: 20px;
  }
  .content-right {
    position: absolute;
    top:20px;
    right: 20px;
    float: right;
    width: 500px;
    height: 1000px;
    background-color:lightgray;
    color: gray;
    }
}
// footer {
//   padding: 0;
//   margin: 0;
//   border: 0;
//   display: block;
//   position: fixed;
//   width: 100vw;
//   height: 80px;
//   background-color:white;
//   position: absolute;
//   bottom: 0;
//   .footer-box {
//     padding-top: 20px;
//     font-size: 20px;
//     color: rgb(110, 107, 107);
//     text-align: center;
//     font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
//   }
// }
.post-box {
  position: relative;
  width: 700px;
  height: 600px;
  background-color: white;
  margin:0 0 20px 90px;
}
.more {
  position: absolute;
  cursor: pointer;
  display: inline-block;
  top: 30px;
  right: 30px;
  z-index: 2;
  height: 100px;
  width: 80px;
  text-align: right;
  .fas.fa-caret-down {
    color: gray;
    font-size: 25px;
  }
}
.more-list {
  position: absolute;
  text-align: center;
  width: 80px;
  right: 0;
  font-size: 15px;
  background-color:rgb(228, 222, 222);
  
  border: 1px solid #ddd;
  display: none;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  color: gray;
}
.more:hover .more-list {
  display: block;
}





.content_name {
  position: absolute;
  top: 10px;
  left: 50px;
}
.content_post {
  position: absolute;
  top:40px;
  left: 50px;
  height: 400px;
  width: 600px;
}
.content_icon {
  height: 35px;
  width: 600px;
  position: absolute;
  top:440px;
  left: 60px;
  font-size: 25px;
  .fas.fa-heart {
    color: rgb(236, 154, 172);
    margin-right: 10px;
  }
  .far.fa-comment {
    color: gray;
  }
}
.content_title{
  height: 30px;
  width: 300px;
  position: absolute;
  top:10px;
  right: 50px;
  text-align: right;
  // font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
}
.content_text {
  height: 100px;
  width: 590px;
  position: absolute;
  bottom: 20px;
  left: 60px;
}

.mypage-hed{
  height: 30px;
  margin-top:10px;
  margin-bottom: 20px;
  text-align: center;
}
.my-postlist {
  color: gray;
  font-size: 20px;
}
.post-count {
  color: gray;
  font-size: 18px;
  .fas.fa-piggy-bank{
    color: palevioletred;
    font-size: 18px;
  }
}
.content-mypost {
  width: 100%;
  height: 100%;
  .post-mybox {
    position: relative;
  width: 700px;
  height: 600px;
  background-color: white;
  margin: 0 350px 20px 380px;
  }
}
// show.html.erb(tweets)
.content-show {
  width: 100%;
  margin-top: 20px;
  margin-left: 280px;
}

