* {
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  width: 100vw;
  height: 220px;
  .snsicon {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0 0 20px;
    display: flex;
    i {
      width: 34px;
      text-align: center;
      font-size: 25px;
      color: gray;
    }
  }
  .h-main{
    width: 100%;
    margin: 0 auto;
    .user {
      text-align: right;
      padding: 10px 30px 0 0;
      .mypage-name {
        margin-right: 10px;
        display: inline-block;
        font-size: 13px;
        font-weight: 600;
        color: gray;
        text-decoration-line: none;
        .far.fa-user {
          color: gray;
          font-size: 15px;
        }
      }
      .post{
        margin-right: 10px;
        display: inline-block;
        font-size: 13px;
        font-weight: 600;
        color: gray;
        text-decoration-line: none;
      }
    }
  }
  .log-wrapper {
    padding-top: 16px;
    text-align: center;
    font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
    .root-link{
      text-decoration: none;
      .main-log {
        font-size: 40px;
        color: rgb(110, 107, 107);
      }
      .sub-log {
        font-size: 12px;
        color: rgb(83, 79, 79);
      }
    }
  }
  .seach-wrapper {
    background-color: #444;
    width: 300px;
    margin: 10px 20px 20px auto;
    height: 40px;
    border-radius: 23px;
    position: relative;
    i {
      font-size: 20px;
      color: white;
      position: absolute;
      top:10px;
      left: 20px;
    }
    .search-box {
      display: inline-block;
      vertical-align: super;
      position: absolute;
      top: 5px;
      left: 70px;
    }
  }
}

.content {
  width: 100vw;
  background-color: rgb(235, 230, 230);
  overflow: scroll;
  position: relative;
  .content-left{
    width: 1000px;
    margin: 40px 350px 20px 380px;
  }
}

footer {
  height: 80px;
  width: 100vw;
  background-color: white;
  .footer-box {
    padding-top: 10px;
    font-size: 20px;
    color: rgb(110, 107, 107);
    text-align: center;
    font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
  }
}
// show.html.erb(tweets)
.content-show {
  width: 100%;
  margin-top: 20px;
  margin-left: 280px;
}

